.sectionsix {
    width: 100%;
    // background-color: cadetblue;

    .container {
        padding: 100px 0px;

        .row {
            .box4 {
                width: 100%;
                height: 460px;
                display: flex;
                position: relative;

                .box6 {
                    width: 52%;
                    height: 360px;
                    position: absolute;
                    border-radius: 16px;
                    background-image: url('../IMGS/choose02.jpg');
                    background-size: 100% 100%;
                    left: 35%;
                    top: 20%;
                    display: flex;
                    align-items: flex-end;

                    .box-bottom {
                        width: 100%;
                        background-color: #fff !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px 0px;
                        border-radius: 0px 0px 13px 13px;
                        border: 1px solid rgb(156, 156, 156);

                        h1 {
                            color: green;
                            font-size: 27px;
                            color: #25B8EC;
                        }
                    }

                }

                .box-img {
                    width: 56%;
                    height: 345px;
                    position: absolute;
                    left: 0%;
                    border-radius: 16px;

                    background-image: url('../IMGS/choose01.jpg');
                    background-size: cover;

                    .box-bottom {
                        width: 100%;
                        background-color: #fff !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 7px 0px;
                        border-radius: 0px 0px 13px 13px;
                        border: 1px solid rgb(156, 156, 156);
                        position: absolute;
                        top: 85%;

                        h1 {
                            color: green;
                            font-size: 27px;
                            color: #25B8EC;
                        }
                    }
                }
            }


            .box5 {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                .hhh{
                    margin-top: 120px;
                }
                p {
                    font-size: 20px;
                    margin-top: 30px;

                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .box-img {
        width: 100%;
    }

    .box6 {
        width: 100%;
    }

    .box5 {
        padding: 4px 35px;
    }
}



.div-left {
    width: 100%;
    height: 200px;
    background-color: chocolate;
}