body{
    font-family: sans-serif;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}

@import'header';
@import'navbar';
@import'sectionone';
@import'sectiontwo';
@import'sectiontheree';
@import'sectionfive';
@import'sectionsix';
@import'sectionnine';






